<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="style/style.css">
    <script src="static/dashboard.js" defer></script>

</head>
<body>
    <nav>
        <h1>Welcome {{name}}!</h1>

        <form method="POST"><input type="submit" name="log-out" value="Log Out"></form>
    </nav>
    {{accInfo|safe}}
    {{sAccInfo|safe}}
{% with messages = get_flashed_messages()%}
{% if messages%}
    {% for message in messages%}
    <h2>{{message}}</h2>
    {%endfor%}
    {%endif%}
    {%endwith%}

</body>
</html>